# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*~
*.lo
*.la


/INSTALL
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/src/Makefile.in
/src/common/Makefile.in
/src/ctccid/Makefile.in
/src/examples/Makefile.in
/src/examples/key-generator/Makefile.in
/src/pkcs11/Makefile.in
/src/ramoverhttp/Makefile.in
/src/tests/Makefile.in
