# SCM SCR 355
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="04e6", ATTRS{device}=="5410", GROUP="schsm", MODE="664"
# SCM SCR 3310
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="04e6", ATTRS{device}=="5116", GROUP="schsm", MODE="664"
